body {
	width: 100%;
	height: 100%;
	margin: auto;
}

header {
	height: 150.5px;
	background-image: url("images/logo.jpg");
	background-attachment: fixed;
	background-size: 100% 25%;
	background-repeat: no-repeat;
}

footer {
	clear: both;
}

#store-name {
	text-decoration: none;
	padding: 10px;
	float: left;
	color: white;
}

#store-des {
	float: left;
	color: white;
}

#sign-btn {
	float: right;
	color: white;
	text-decoration: none;
}

#store-greet {
	text-align: center;
}

.dropbtn {
	background-color: #000000;
	position: relative;
	top: 65px;
	color: white;
	padding: 20px;
	border: none;
	cursor: pointer;
}

#sidebtn {
	margin: 0px;
	padding: 1px;
	color: black;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown {
	float: right;
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	top: 150px;
	position: absolute;
	background: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

#main-content a:hover {
	background-color: #f1f1f1;
}

#main-drop:hover #main-content {
	display: block;
}

#main-drop:hover #mainbtn {
	background-color: #3e8e41;
}

#side-content a:hover {
	background-color: #f1f1f1;
}

#side-drop:hover #side-content {
	display: block;
	position: absolute;
	float: right;
	left: 100%;
	top: 0;
}

#side-drop:hover #sidebtn {
	background-color: #f1f1f1;
}

.slide {
	display: none;
	position: relative;
	margin: auto;
}

.slide-btn {
	margin: 10px;
	background: none;
	border: none;
}

.nav-slide {
	width: 225px;
	position: relative;
	margin: auto;
}

.btn-display-left, .btn-display-right, .badge {cursor:pointer}

.badge {
	height:13px;
	width:13px;
	margin: 5px;
	padding:0;
	border: solid white 1px;
	border-radius: 50%;
}

.back-btn {
	background-color: red;
}

.content-wrapper {
	width: 82.5%;
	margin: auto;
}

.item-body {
	width: 100%;
	height: 250px;
	padding: 10px;
	background-color: black;
	border-radius: 10px;
	color: white;
}

.item-pic {
	float: left;
	height: 95%;
	width: 30%;
	padding: 5px;
	background-color: white;
	border-radius: 10px;
}

.item-all {
	float: left;
	padding: 10px;
	width: 35%;
}

.item-other {
	width: 20%;
	padding: 5px;
	float: right;
}

.rm-btn {
	margin: 10px 25px;
	background: none;
	border: none;
}

.rm-btn img {
	height: 20px;
	width: 20px;
}

.category-picker {
	width: 450px;
	margin: auto;
}

.cat-btn {
	padding: 20px;
	margin: 30px 10px;
	border-radius: 5px;
	cursor: pointer;
}

.check-out-wrapper {
	background-color: grey;
	border-radius: 10px;
	margin: 20px;
	padding: 20px;
	float: right;
}

.store-item {
	background-color: grey;
	border-radius: 10px;
	padding: 0px 10px 5px 10px;
	margin: 30px auto;
	width: 300px;
}

.store-page {
	margin: 30px 5px;
	flex:1;
	/*width: 25%;*/
}

.si-btn {
	float: right;
	cursor: pointer;
	background-color: blue;
	border: none;
	color: white;
	padding: 5px;
	z-index: 1;
}

.si-pic {
	height: 200px;
	width: 89.5%;
	padding: 5px;
	margin: 10px;
	background-color: white;
	border-radius: 10px;
}

.si-price {
	text-align: right;
	font-size: 12px;
}
